body
{
	background-color: white;
}

#titlebar
{
	position: relative;
	left: 1%;
	width: 98%;
	height: 127px;
}

#resultDiv
{
	position: relative;
	left: 359px;
	width: 492px;
	min-height:100px;
	top: 5px;
	padding : 10px;
	color: black;
	font-size: 22px;
	font-family:  sans-serif;
}

.stat
{
	width: 90%;
	min-height: 30px;
	border: 1px solid red;
	position: relative;
	left:2.5%;
	top:14px;
	border-radius: 4px;
	margin: 3px;
}

.op
{
	
}

.nop
{
	float: right;
}

.errormsg
{
	width:97%;
	float: left;
	background-color: #FBE1E4;
	padding: 5px;
	color: black;
	font-family: "Segoe UI" , sans-serif;
	font-size: 20px;
	text-align: center;
	border: 1px solid red;
	border-radius: 5px;
	display: none;
}

#header
{
	width:90%;
	height:84px;
	position: relative;
	top:5px;
	left:2.5%;
	font-family: "Segoe UI" , sans-serif;
	font-size: 30px;
	vertical-align: top;
	color: #1ABC9C;
	font-weight: 500;
}

#mainarea
{
	width:90%;
	position: relative;
	top:5px;
	left: 2.5%;
	
}

#fine
{
	width: 90%;
	position: relative;
	top: 240px;
	left: 8.5%;
	text-align: center;
	font-family: "Segoe UI" , sans-serif;
	font-size: 32px;
	color: black;
}

#showmore
{
	width: 90%;
	position: relative;
	top: 255px;
	left: 8.5%;
	text-align: center;
	font-family: "Segoe UI" , sans-serif;
	font-size: 20px;
	color: #1B36EB;
}

#bsm
{
	background-color: white;
	border: 2px solid #1B36EB;
	border-radius: 12px;
	width: 137px;
	height: 37px;
	font-family: "Segoe UI" , sans-serif;
	font-size: 15px;
	color: #1B36EB;
	display: none;
}

#statuslogo
{
	position: relative;
	left: 400px;
}