body
{
	background-color: white;
	font-family: "Segoe UI" , sans-serif;
}

.stat
{
	width: 90%;
	min-height: 30px;
	border: 1px solid red;
	position: relative;
	left:2.5%;
	top:14px;
	border-radius: 4px;
	margin: 3px;
}
.showmore
{
	text-align: center;
	color: #1B36EB;
	border: 2px solid #1B36EB;
	border-radius: 12px;
	padding:4px;
	text-decoration: none;
	margin-top: 10px;
	display: none;
}

#fine
{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
	text-align: center;
}

#titlebar
{
  	margin-left: auto;
  	margin-right: auto;
  	width:400px;
  	background-image:url('img/statuslogo.jpg');
  	min-height:111px;
}
#stattable{
	width:500px;
	margin:0 auto;
	font-family: "Ubuntu", "sans-serif";
}
#stattable tr{
	cursor: pointer;
}
